.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

section#servicios {
  scroll-margin-top: 8.5rem;
}

section#tarifas {
  scroll-margin-top: 8.5rem;
}

section#galeria {
  scroll-margin-top: 8.5rem;
}

section#conocenos {
  scroll-margin-top: 8.5rem;
}

@media (max-width: 768px) {
  section#servicios {
    scroll-margin-top: 6.5rem;
  }

  section#tarifas {
    scroll-margin-top: 5.5rem;
  }

  section#galeria {
    scroll-margin-top: 5.5rem;
  }

  section#conocenos {
    scroll-margin-top: 5.5rem;
  }

  main {
    padding-top: 0;
  }
}
